PORT=5000
NODE_ENV=development

PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=postgres
PGDATABASE=library_db

JWT_SECRET=library_management_secret_key_2026_super_secure_jwt
JWT_EXPIRES_IN=7d
FINE_PER_DAY=1.00
